# Combining all BioSCAN Predictors for Occupancy Model

### Import packages, set working directory

In [1]:
# Import packages
import pandas as pd
import os
import numpy as np
from datetime import datetime, timedelta, date
from dateutil.relativedelta import relativedelta
import seaborn as sns

import matplotlib.pyplot as plt
import matplotlib.lines as mlines
import matplotlib.transforms as mtransforms

In [2]:
# Print current directory
print('Current Directory: ' + os.getcwd())

main_folder = os.path.dirname(os.getcwd())

# Define location of bioscan data
bioscan_file = main_folder + '/Data_Upon_Request/bioscan.xlsx'
print('Bioscan Data Directory: ' + bioscan_file)

Current Directory: /Users/teaganbaiotto/Mirror/Research/bioscan
Bioscan Data Directory: /Users/teaganbaiotto/Mirror/Research/bioscan/bioscan.xlsx

In [3]:
# List directory to meteorological data
data_dir = os.path.join(main_folder, 'Data', 'met_station_data')

### Open sampling_data_frame, which summarizes each sample, and make a df

In [4]:
# Open Jenny's cleaned sample data frame as starting point for adding environmental variables
bioscan_data = pd.read_csv(os.path.join(main_folder, 'Data', 'sampling_data_frame.csv'))

# Cleaning
bioscan_data.index = bioscan_data.id
bioscan_data.iloc[0]['start_date']
bioscan_data['Site'] = bioscan_data.Site.map("{:02}".format)

# Make column that has date range between start and end date of sampling

# Make column that has date range between start and end date of month prior to sample date
bioscan_data["Date_range_col"] = bioscan_data.apply(lambda row: pd.date_range(start=datetime.strptime(row["start_date"], "%Y-%m-%d"), end=datetime.strptime(row["end_date"], "%Y-%m-%d")).strftime("%Y-%m-%d").tolist(), axis=1)
# Make column that has date range between start and end date of month prior to sample date
bioscan_data["Date_range_prev_month"] = bioscan_data.apply(lambda row: pd.date_range(start=datetime.strptime(row["start_date"], "%Y-%m-%d")-relativedelta(months=1), end=datetime.strptime(row["start_date"], "%Y-%m-%d")-relativedelta(days=1), freq="d").strftime("%Y-%m-%d").tolist(), axis=1)
# Make column that has date range between start of year and end of month prior to sample
bioscan_data["Date_range_Prev_3Month"] = bioscan_data.apply(lambda row: pd.date_range(start=(datetime.strptime(row["start_date"], "%Y-%m-%d")-relativedelta(months=3)), end=datetime.strptime(row["start_date"], "%Y-%m-%d"), freq="d").strftime("%Y-%m-%d").tolist(), axis=1)
# Make column that has date range between start of year and end of month prior to sample
bioscan_data["Date_range_Prev_6Month"] = bioscan_data.apply(lambda row: pd.date_range(start=(datetime.strptime(row["start_date"], "%Y-%m-%d")-relativedelta(months=6)), end=datetime.strptime(row["start_date"], "%Y-%m-%d"), freq="d").strftime("%Y-%m-%d").tolist(), axis=1)
# Make column that has date range between start of year and end of month prior to sample
bioscan_data["Date_range_Prev_12Month"] = bioscan_data.apply(lambda row: pd.date_range(start=(datetime.strptime(row["start_date"], "%Y-%m-%d")-relativedelta(months=12)), end=datetime.strptime(row["start_date"], "%Y-%m-%d"), freq="d").strftime("%Y-%m-%d").tolist(), axis=1)




# Display
bioscan_data

,Phase,Site,Year,Month,Collection days,start_date,end_date,id,Date_range_col,Date_range_prev_month,Date_range_Prev_3Month,Date_range_Prev_6Month,Date_range_Prev_12Month
id,,,,,,,,,,,,,
14_01_01_01,1,01,2014,1,7,2014-01-01,2014-01-07,14_01_01_01,"[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-12-01, 2013-12-02, 2013-12-03, 2013-12-0...","[2013-10-01, 2013-10-02, 2013-10-03, 2013-10-0...","[2013-07-01, 2013-07-02, 2013-07-03, 2013-07-0...","[2013-01-01, 2013-01-02, 2013-01-03, 2013-01-0..."
14_02_01_01,1,01,2014,2,9,2014-02-01,2014-02-09,14_02_01_01,"[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-11-01, 2013-11-02, 2013-11-03, 2013-11-0...","[2013-08-01, 2013-08-02, 2013-08-03, 2013-08-0...","[2013-02-01, 2013-02-02, 2013-02-03, 2013-02-0..."
14_03_01_01,1,01,2014,3,7,2014-03-01,2014-03-07,14_03_01_01,"[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...","[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2013-12-01, 2013-12-02, 2013-12-03, 2013-12-0...","[2013-09-01, 2013-09-02, 2013-09-03, 2013-09-0...","[2013-03-01, 2013-03-02, 2013-03-03, 2013-03-0..."
14_04_01_01,1,01,2014,4,7,2014-04-01,2014-04-07,14_04_01_01,"[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...","[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...","[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-10-01, 2013-10-02, 2013-10-03, 2013-10-0...","[2013-04-01, 2013-04-02, 2013-04-03, 2013-04-0..."
14_05_01_01,1,01,2014,5,7,2014-05-01,2014-05-07,14_05_01_01,"[2014-05-01, 2014-05-02, 2014-05-03, 2014-05-0...","[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...","[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2013-11-01, 2013-11-02, 2013-11-03, 2013-11-0...","[2013-05-01, 2013-05-02, 2013-05-03, 2013-05-0..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17_07_03_63,3,63,2017,7,7,2017-07-01,2017-07-07,17_07_03_63,"[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-06-01, 2017-06-02, 2017-06-03, 2017-06-0...","[2017-04-01, 2017-04-02, 2017-04-03, 2017-04-0...","[2017-01-01, 2017-01-02, 2017-01-03, 2017-01-0...","[2016-07-01, 2016-07-02, 2016-07-03, 2016-07-0..."
17_09_03_63,3,63,2017,9,7,2017-09-01,2017-09-07,17_09_03_63,"[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-08-01, 2017-08-02, 2017-08-03, 2017-08-0...","[2017-06-01, 2017-06-02, 2017-06-03, 2017-06-0...","[2017-03-01, 2017-03-02, 2017-03-03, 2017-03-0...","[2016-09-01, 2016-09-02, 2016-09-03, 2016-09-0..."
17_10_03_63,3,63,2017,10,7,2017-10-01,2017-10-07,17_10_03_63,"[2017-10-01, 2017-10-02, 2017-10-03, 2017-10-0...","[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-04-01, 2017-04-02, 2017-04-03, 2017-04-0...","[2016-10-01, 2016-10-02, 2016-10-03, 2016-10-0..."
18_01_03_63,3,63,2018,1,7,2018-01-01,2018-01-07,18_01_03_63,"[2018-01-01, 2018-01-02, 2018-01-03, 2018-01-0...","[2017-12-01, 2017-12-02, 2017-12-03, 2017-12-0...","[2017-10-01, 2017-10-02, 2017-10-03, 2017-10-0...","[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-01-01, 2017-01-02, 2017-01-03, 2017-01-0..."
18_03_03_63,3,63,2018,3,7,2018-03-01,2018-03-07,18_03_03_63,"[2018-03-01, 2018-03-02, 2018-03-03, 2018-03-0...","[2018-02-01, 2018-02-02, 2018-02-03, 2018-02-0...","[2017-12-01, 2017-12-02, 2017-12-03, 2017-12-0...","[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-03-01, 2017-03-02, 2017-03-03, 2017-03-0..."

### Add all environmental predictors to bioscan df

In [5]:
# First wind, at collection level
# Wind
d_table = pd.read_csv(os.path.join(data_dir, 'AWND.csv'), index_col=0)
d_table.columns = d_table.columns.str.replace('Site', '')

# Add mean temp to bioscan data sheet
bioscan_data['AWND_Avg_During_Collection'] = bioscan_data.apply(lambda row: round(d_table[d_table.index.isin(row["Date_range_col"])][row["Site"]].mean(), 2), axis=1)
bioscan_data

,Phase,Site,Year,Month,Collection days,start_date,end_date,id,Date_range_col,Date_range_prev_month,Date_range_Prev_3Month,Date_range_Prev_6Month,Date_range_Prev_12Month,AWND_Avg_During_Collection
id,,,,,,,,,,,,,,
14_01_01_01,1,01,2014,1,7,2014-01-01,2014-01-07,14_01_01_01,"[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-12-01, 2013-12-02, 2013-12-03, 2013-12-0...","[2013-10-01, 2013-10-02, 2013-10-03, 2013-10-0...","[2013-07-01, 2013-07-02, 2013-07-03, 2013-07-0...","[2013-01-01, 2013-01-02, 2013-01-03, 2013-01-0...",0.73
14_02_01_01,1,01,2014,2,9,2014-02-01,2014-02-09,14_02_01_01,"[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-11-01, 2013-11-02, 2013-11-03, 2013-11-0...","[2013-08-01, 2013-08-02, 2013-08-03, 2013-08-0...","[2013-02-01, 2013-02-02, 2013-02-03, 2013-02-0...",1.87
14_03_01_01,1,01,2014,3,7,2014-03-01,2014-03-07,14_03_01_01,"[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...","[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2013-12-01, 2013-12-02, 2013-12-03, 2013-12-0...","[2013-09-01, 2013-09-02, 2013-09-03, 2013-09-0...","[2013-03-01, 2013-03-02, 2013-03-03, 2013-03-0...",2.58
14_04_01_01,1,01,2014,4,7,2014-04-01,2014-04-07,14_04_01_01,"[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...","[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...","[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-10-01, 2013-10-02, 2013-10-03, 2013-10-0...","[2013-04-01, 2013-04-02, 2013-04-03, 2013-04-0...",3.38
14_05_01_01,1,01,2014,5,7,2014-05-01,2014-05-07,14_05_01_01,"[2014-05-01, 2014-05-02, 2014-05-03, 2014-05-0...","[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...","[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2013-11-01, 2013-11-02, 2013-11-03, 2013-11-0...","[2013-05-01, 2013-05-02, 2013-05-03, 2013-05-0...",3.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17_07_03_63,3,63,2017,7,7,2017-07-01,2017-07-07,17_07_03_63,"[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-06-01, 2017-06-02, 2017-06-03, 2017-06-0...","[2017-04-01, 2017-04-02, 2017-04-03, 2017-04-0...","[2017-01-01, 2017-01-02, 2017-01-03, 2017-01-0...","[2016-07-01, 2016-07-02, 2016-07-03, 2016-07-0...",4.52
17_09_03_63,3,63,2017,9,7,2017-09-01,2017-09-07,17_09_03_63,"[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-08-01, 2017-08-02, 2017-08-03, 2017-08-0...","[2017-06-01, 2017-06-02, 2017-06-03, 2017-06-0...","[2017-03-01, 2017-03-02, 2017-03-03, 2017-03-0...","[2016-09-01, 2016-09-02, 2016-09-03, 2016-09-0...",4.70
17_10_03_63,3,63,2017,10,7,2017-10-01,2017-10-07,17_10_03_63,"[2017-10-01, 2017-10-02, 2017-10-03, 2017-10-0...","[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-04-01, 2017-04-02, 2017-04-03, 2017-04-0...","[2016-10-01, 2016-10-02, 2016-10-03, 2016-10-0...",3.71
18_01_03_63,3,63,2018,1,7,2018-01-01,2018-01-07,18_01_03_63,"[2018-01-01, 2018-01-02, 2018-01-03, 2018-01-0...","[2017-12-01, 2017-12-02, 2017-12-03, 2017-12-0...","[2017-10-01, 2017-10-02, 2017-10-03, 2017-10-0...","[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-01-01, 2017-01-02, 2017-01-03, 2017-01-0...",2.41
18_03_03_63,3,63,2018,3,7,2018-03-01,2018-03-07,18_03_03_63,"[2018-03-01, 2018-03-02, 2018-03-03, 2018-03-0...","[2018-02-01, 2018-02-02, 2018-02-03, 2018-02-0...","[2017-12-01, 2017-12-02, 2017-12-03, 2017-12-0...","[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-03-01, 2017-03-02, 2017-03-03, 2017-03-0...",4.09

In [6]:
# Now PRCP, which we will need to calculate site-level summaries for based on BioCLIM variables

PRCP_interp = pd.read_csv(os.path.join(data_dir, 'PRCP.csv'), index_col=0, parse_dates=[0])

# Open Tmin for reference which sites in which phases
Tmin = pd.read_csv(os.path.join(main_folder, 'Data', f'ibutton_Tmin_RAW.csv'), index_col=0, parse_dates=[0])
phase1_sites = Tmin[Tmin.index.year==2014].dropna(axis=1,how='all').columns
phase2_sites = Tmin[Tmin.index.year==2016].dropna(axis=1,how='all').columns
phase3_sites = Tmin[Tmin.index.year==2017].dropna(axis=1,how='all').columns

#Split accordingly - we only want the dates of collection and the sites for each phase
start_date = '2014-01-01'
end_date = '2014-12-31'
prcp_phase1 = PRCP_interp.loc[pd.date_range(datetime.strptime(start_date, '%Y-%m-%d'), datetime.strptime(end_date, '%Y-%m-%d')), phase1_sites]

start_date = '2015-11-01'
end_date = '2016-10-31'
prcp_phase2 = PRCP_interp.loc[pd.date_range(datetime.strptime(start_date, '%Y-%m-%d'), datetime.strptime(end_date, '%Y-%m-%d')), phase2_sites]

start_date = '2017-04-01'
end_date = '2018-04-30'
prcp_phase3 = PRCP_interp.loc[pd.date_range(datetime.strptime(start_date, '%Y-%m-%d'), datetime.strptime(end_date, '%Y-%m-%d')), phase3_sites]

# BIO12 = Annual Precipitation
# BIO15 = Precipitation Seasonality (Coefficient of Variation)
bio12 = pd.DataFrame({'prcp_sum': pd.concat([prcp_phase1.sum(), prcp_phase2.sum(), prcp_phase3.sum()], axis=1, keys=['Series1', 'Series2', 'Series3']).mean(axis=1)})
bio12.index = bio12.index.str[-2:]

bio15 = pd.DataFrame({'prcp_std': pd.concat([prcp_phase1, prcp_phase2, prcp_phase3]).std()*100})
bio15.index = bio15.index.str[-2:]

In [7]:
# MERGE all of those dfs to our main one
bioscan_data = bioscan_data.merge(bio12, left_on='Site', right_index=True, how='left')
bioscan_data = bioscan_data.merge(bio15, left_on='Site', right_index=True, how='left')

bioscan_data

,Phase,Site,Year,Month,Collection days,start_date,end_date,id,Date_range_col,Date_range_prev_month,Date_range_Prev_3Month,Date_range_Prev_6Month,Date_range_Prev_12Month,AWND_Avg_During_Collection,prcp_sum,prcp_std
id,,,,,,,,,,,,,,,,
14_01_01_01,1,01,2014,1,7,2014-01-01,2014-01-07,14_01_01_01,"[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-12-01, 2013-12-02, 2013-12-03, 2013-12-0...","[2013-10-01, 2013-10-02, 2013-10-03, 2013-10-0...","[2013-07-01, 2013-07-02, 2013-07-03, 2013-07-0...","[2013-01-01, 2013-01-02, 2013-01-03, 2013-01-0...",0.73,7.28,12.891406
14_02_01_01,1,01,2014,2,9,2014-02-01,2014-02-09,14_02_01_01,"[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-11-01, 2013-11-02, 2013-11-03, 2013-11-0...","[2013-08-01, 2013-08-02, 2013-08-03, 2013-08-0...","[2013-02-01, 2013-02-02, 2013-02-03, 2013-02-0...",1.87,7.28,12.891406
14_03_01_01,1,01,2014,3,7,2014-03-01,2014-03-07,14_03_01_01,"[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...","[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2013-12-01, 2013-12-02, 2013-12-03, 2013-12-0...","[2013-09-01, 2013-09-02, 2013-09-03, 2013-09-0...","[2013-03-01, 2013-03-02, 2013-03-03, 2013-03-0...",2.58,7.28,12.891406
14_04_01_01,1,01,2014,4,7,2014-04-01,2014-04-07,14_04_01_01,"[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...","[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...","[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-10-01, 2013-10-02, 2013-10-03, 2013-10-0...","[2013-04-01, 2013-04-02, 2013-04-03, 2013-04-0...",3.38,7.28,12.891406
14_05_01_01,1,01,2014,5,7,2014-05-01,2014-05-07,14_05_01_01,"[2014-05-01, 2014-05-02, 2014-05-03, 2014-05-0...","[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...","[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2013-11-01, 2013-11-02, 2013-11-03, 2013-11-0...","[2013-05-01, 2013-05-02, 2013-05-03, 2013-05-0...",3.25,7.28,12.891406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17_07_03_63,3,63,2017,7,7,2017-07-01,2017-07-07,17_07_03_63,"[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-06-01, 2017-06-02, 2017-06-03, 2017-06-0...","[2017-04-01, 2017-04-02, 2017-04-03, 2017-04-0...","[2017-01-01, 2017-01-02, 2017-01-03, 2017-01-0...","[2016-07-01, 2016-07-02, 2016-07-03, 2016-07-0...",4.52,4.96,7.483853
17_09_03_63,3,63,2017,9,7,2017-09-01,2017-09-07,17_09_03_63,"[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-08-01, 2017-08-02, 2017-08-03, 2017-08-0...","[2017-06-01, 2017-06-02, 2017-06-03, 2017-06-0...","[2017-03-01, 2017-03-02, 2017-03-03, 2017-03-0...","[2016-09-01, 2016-09-02, 2016-09-03, 2016-09-0...",4.70,4.96,7.483853
17_10_03_63,3,63,2017,10,7,2017-10-01,2017-10-07,17_10_03_63,"[2017-10-01, 2017-10-02, 2017-10-03, 2017-10-0...","[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-04-01, 2017-04-02, 2017-04-03, 2017-04-0...","[2016-10-01, 2016-10-02, 2016-10-03, 2016-10-0...",3.71,4.96,7.483853
18_01_03_63,3,63,2018,1,7,2018-01-01,2018-01-07,18_01_03_63,"[2018-01-01, 2018-01-02, 2018-01-03, 2018-01-0...","[2017-12-01, 2017-12-02, 2017-12-03, 2017-12-0...","[2017-10-01, 2017-10-02, 2017-10-03, 2017-10-0...","[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-01-01, 2017-01-02, 2017-01-03, 2017-01-0...",2.41,4.96,7.483853
18_03_03_63,3,63,2018,3,7,2018-03-01,2018-03-07,18_03_03_63,"[2018-03-01, 2018-03-02, 2018-03-03, 2018-03-0...","[2018-02-01, 2018-02-02, 2018-02-03, 2018-02-0...","[2017-12-01, 2017-12-02, 2017-12-03, 2017-12-0...","[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-03-01, 2017-03-02, 2017-03-03, 2017-03-0...",4.09,4.96,7.483853

### Add hobo sensor calculated predictors

In [8]:
# Now our site-level sensor predictors that was calculated and saved in the previous step
# First, the site environmental data
bio1 = pd.read_csv(os.path.join(main_folder, 'Data', 'ibutton_BioCLIM1_Te.csv'), index_col=0)
bio1.index = bio1.index.str[-2:]

bio2 = pd.read_csv(os.path.join(main_folder, 'Data', 'ibutton_BioCLIM2.csv'), index_col=0)
bio2.index = bio2.index.str[-2:]

bio3 = pd.read_csv(os.path.join(main_folder, 'Data', 'ibutton_BioCLIM3.csv'), index_col=0)
bio3.index = bio3.index.str[-2:]

bio4 = pd.read_csv(os.path.join(main_folder, 'Data', 'ibutton_BioCLIM4_Te.csv'), index_col=0)
bio4.index = bio4.index.str[-2:]

bio7 = pd.read_csv(os.path.join(main_folder, 'Data', 'ibutton_BioCLIM7.csv'), index_col=0)
bio7.index = bio7.index.str[-2:]


RH = pd.read_csv(os.path.join(main_folder, 'Data', 'ibutton_RH.csv'), index_col=0)
RH.index = RH.index.str[-2:]

RH_std = pd.read_csv(os.path.join(main_folder, 'Data', 'ibutton_RH_std.csv'), index_col=0)
RH_std.index = RH_std.index.str[-2:]

Solar_rad = pd.read_csv(os.path.join(main_folder, 'Data', 'ibutton_So.csv'), index_col=0)
Solar_rad.index = Solar_rad.index.str[-2:]

In [9]:
# MERGE all of those dfs to our main one
bioscan_data = bioscan_data.merge(bio1, left_on='Site', right_index=True, how='left')
bioscan_data = bioscan_data.merge(bio2, left_on='Site', right_index=True, how='left')
bioscan_data = bioscan_data.merge(bio3, left_on='Site', right_index=True, how='left')
bioscan_data = bioscan_data.merge(bio4, left_on='Site', right_index=True, how='left')
bioscan_data = bioscan_data.merge(bio7, left_on='Site', right_index=True, how='left')
bioscan_data = bioscan_data.merge(RH, left_on='Site', right_index=True, how='left')
bioscan_data = bioscan_data.merge(RH_std, left_on='Site', right_index=True, how='left')
bioscan_data = bioscan_data.merge(Solar_rad, left_on='Site', right_index=True, how='left')

bioscan_data

,Phase,Site,Year,Month,Collection days,start_date,end_date,id,Date_range_col,Date_range_prev_month,...,prcp_sum,prcp_std,Te_mean,Mean_Diurnal_Range_C,Isothermality,Te_std,Annual_T_Range,RH_mean,RH_std,So_mean
id,,,,,,,,,,,,,,,,,,,,,
14_01_01_01,1,01,2014,1,7,2014-01-01,2014-01-07,14_01_01_01,"[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-12-01, 2013-12-02, 2013-12-03, 2013-12-0...",...,7.28,12.891406,18.589,23.401,58.271,402.2,40.158,69.110,1522.9,127.153
14_02_01_01,1,01,2014,2,9,2014-02-01,2014-02-09,14_02_01_01,"[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...",...,7.28,12.891406,18.589,23.401,58.271,402.2,40.158,69.110,1522.9,127.153
14_03_01_01,1,01,2014,3,7,2014-03-01,2014-03-07,14_03_01_01,"[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...","[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...",...,7.28,12.891406,18.589,23.401,58.271,402.2,40.158,69.110,1522.9,127.153
14_04_01_01,1,01,2014,4,7,2014-04-01,2014-04-07,14_04_01_01,"[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...","[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...",...,7.28,12.891406,18.589,23.401,58.271,402.2,40.158,69.110,1522.9,127.153
14_05_01_01,1,01,2014,5,7,2014-05-01,2014-05-07,14_05_01_01,"[2014-05-01, 2014-05-02, 2014-05-03, 2014-05-0...","[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...",...,7.28,12.891406,18.589,23.401,58.271,402.2,40.158,69.110,1522.9,127.153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17_07_03_63,3,63,2017,7,7,2017-07-01,2017-07-07,17_07_03_63,"[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-06-01, 2017-06-02, 2017-06-03, 2017-06-0...",...,4.96,7.483853,19.360,25.511,61.719,416.0,41.334,63.716,1428.3,156.979
17_09_03_63,3,63,2017,9,7,2017-09-01,2017-09-07,17_09_03_63,"[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-08-01, 2017-08-02, 2017-08-03, 2017-08-0...",...,4.96,7.483853,19.360,25.511,61.719,416.0,41.334,63.716,1428.3,156.979
17_10_03_63,3,63,2017,10,7,2017-10-01,2017-10-07,17_10_03_63,"[2017-10-01, 2017-10-02, 2017-10-03, 2017-10-0...","[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...",...,4.96,7.483853,19.360,25.511,61.719,416.0,41.334,63.716,1428.3,156.979
18_01_03_63,3,63,2018,1,7,2018-01-01,2018-01-07,18_01_03_63,"[2018-01-01, 2018-01-02, 2018-01-03, 2018-01-0...","[2017-12-01, 2017-12-02, 2017-12-03, 2017-12-0...",...,4.96,7.483853,19.360,25.511,61.719,416.0,41.334,63.716,1428.3,156.979
18_03_03_63,3,63,2018,3,7,2018-03-01,2018-03-07,18_03_03_63,"[2018-03-01, 2018-03-02, 2018-03-03, 2018-03-0...","[2018-02-01, 2018-02-02, 2018-02-03, 2018-02-0...",...,4.96,7.483853,19.360,25.511,61.719,416.0,41.334,63.716,1428.3,156.979

### Add impervious cover at different scales related to site

In [10]:
# Import csvs with data saves and add to main df
imperv_025km = pd.read_csv(os.path.join(main_folder, 'Data', 'impervious', 'bioscan_imperv_025km.csv'), index_col=1)
imperv_025km.index = imperv_025km.index.str[-2:]
imperv_025km['imperv_025km'] = imperv_025km['MEAN'].round(3)

imperv_05km = pd.read_csv(os.path.join(main_folder, 'Data', 'impervious', 'bioscan_imperv_05km.csv'), index_col=1)
imperv_05km.index = imperv_05km.index.str[-2:]
imperv_05km['imperv_05km'] = imperv_05km['MEAN'].round(3)

imperv_1km = pd.read_csv(os.path.join(main_folder, 'Data', 'impervious', 'bioscan_imperv_1km.csv'), index_col=1)
imperv_1km.index = imperv_1km.index.str[-2:]
imperv_1km['imperv_1km'] = imperv_1km['MEAN'].round(3)

In [11]:
# MERGE with main df
bioscan_data = bioscan_data.merge(imperv_025km['imperv_025km'], left_on='Site', right_index=True, how='left')
bioscan_data = bioscan_data.merge(imperv_05km['imperv_05km'], left_on='Site', right_index=True, how='left')
bioscan_data = bioscan_data.merge(imperv_1km['imperv_1km'], left_on='Site', right_index=True, how='left')

bioscan_data

,Phase,Site,Year,Month,Collection days,start_date,end_date,id,Date_range_col,Date_range_prev_month,...,Mean_Diurnal_Range_C,Isothermality,Te_std,Annual_T_Range,RH_mean,RH_std,So_mean,imperv_025km,imperv_05km,imperv_1km
id,,,,,,,,,,,,,,,,,,,,,
14_01_01_01,1,01,2014,1,7,2014-01-01,2014-01-07,14_01_01_01,"[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-12-01, 2013-12-02, 2013-12-03, 2013-12-0...",...,23.401,58.271,402.2,40.158,69.110,1522.9,127.153,54.304,66.622,73.817
14_02_01_01,1,01,2014,2,9,2014-02-01,2014-02-09,14_02_01_01,"[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...",...,23.401,58.271,402.2,40.158,69.110,1522.9,127.153,54.304,66.622,73.817
14_03_01_01,1,01,2014,3,7,2014-03-01,2014-03-07,14_03_01_01,"[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...","[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...",...,23.401,58.271,402.2,40.158,69.110,1522.9,127.153,54.304,66.622,73.817
14_04_01_01,1,01,2014,4,7,2014-04-01,2014-04-07,14_04_01_01,"[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...","[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...",...,23.401,58.271,402.2,40.158,69.110,1522.9,127.153,54.304,66.622,73.817
14_05_01_01,1,01,2014,5,7,2014-05-01,2014-05-07,14_05_01_01,"[2014-05-01, 2014-05-02, 2014-05-03, 2014-05-0...","[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...",...,23.401,58.271,402.2,40.158,69.110,1522.9,127.153,54.304,66.622,73.817
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17_07_03_63,3,63,2017,7,7,2017-07-01,2017-07-07,17_07_03_63,"[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-06-01, 2017-06-02, 2017-06-03, 2017-06-0...",...,25.511,61.719,416.0,41.334,63.716,1428.3,156.979,73.508,74.097,75.617
17_09_03_63,3,63,2017,9,7,2017-09-01,2017-09-07,17_09_03_63,"[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-08-01, 2017-08-02, 2017-08-03, 2017-08-0...",...,25.511,61.719,416.0,41.334,63.716,1428.3,156.979,73.508,74.097,75.617
17_10_03_63,3,63,2017,10,7,2017-10-01,2017-10-07,17_10_03_63,"[2017-10-01, 2017-10-02, 2017-10-03, 2017-10-0...","[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...",...,25.511,61.719,416.0,41.334,63.716,1428.3,156.979,73.508,74.097,75.617
18_01_03_63,3,63,2018,1,7,2018-01-01,2018-01-07,18_01_03_63,"[2018-01-01, 2018-01-02, 2018-01-03, 2018-01-0...","[2017-12-01, 2017-12-02, 2017-12-03, 2017-12-0...",...,25.511,61.719,416.0,41.334,63.716,1428.3,156.979,73.508,74.097,75.617
18_03_03_63,3,63,2018,3,7,2018-03-01,2018-03-07,18_03_03_63,"[2018-03-01, 2018-03-02, 2018-03-03, 2018-03-0...","[2018-02-01, 2018-02-02, 2018-02-03, 2018-02-0...",...,25.511,61.719,416.0,41.334,63.716,1428.3,156.979,73.508,74.097,75.617

### Add area weighted land value predictors at different spatial scales

In [12]:
# Import each df
LV_025km = pd.read_csv(os.path.join(main_folder, 'Data', 'land_value_data', 'onlyresidential_weight_average_landV_025km.csv'), index_col='Site')
LV_025km.index = LV_025km.index.str[-2:]
LV_025km['LV_025km'] = LV_025km['weighted_avarage_land_V'].round(3)

LV_05km = pd.read_csv(os.path.join(main_folder, 'Data', 'land_value_data', 'onlyresidential_weight_average_landV_05km.csv'), index_col='Site')
LV_05km.index = LV_05km.index.str[-2:]
LV_05km['LV_05km'] = LV_05km['weighted_avarage_land_V'].round(3)

LV_1km = pd.read_csv(os.path.join(main_folder, 'Data', 'land_value_data', 'onlyresidential_weight_average_landV.csv'), index_col='Site')
LV_1km.index = LV_1km.index.str[-2:]
LV_1km['LV_1km'] = LV_1km['weighted_avarage_land_V'].round(3)

In [13]:
# MERGE with main df
bioscan_data = bioscan_data.merge(LV_025km['LV_025km'], left_on='Site', right_index=True, how='left')
bioscan_data = bioscan_data.merge(LV_05km['LV_05km'], left_on='Site', right_index=True, how='left')
bioscan_data = bioscan_data.merge(LV_1km['LV_1km'], left_on='Site', right_index=True, how='left')

bioscan_data

,Phase,Site,Year,Month,Collection days,start_date,end_date,id,Date_range_col,Date_range_prev_month,...,Annual_T_Range,RH_mean,RH_std,So_mean,imperv_025km,imperv_05km,imperv_1km,LV_025km,LV_05km,LV_1km
id,,,,,,,,,,,,,,,,,,,,,
14_01_01_01,1,01,2014,1,7,2014-01-01,2014-01-07,14_01_01_01,"[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-12-01, 2013-12-02, 2013-12-03, 2013-12-0...",...,40.158,69.110,1522.9,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692
14_02_01_01,1,01,2014,2,9,2014-02-01,2014-02-09,14_02_01_01,"[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...",...,40.158,69.110,1522.9,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692
14_03_01_01,1,01,2014,3,7,2014-03-01,2014-03-07,14_03_01_01,"[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...","[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...",...,40.158,69.110,1522.9,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692
14_04_01_01,1,01,2014,4,7,2014-04-01,2014-04-07,14_04_01_01,"[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...","[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...",...,40.158,69.110,1522.9,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692
14_05_01_01,1,01,2014,5,7,2014-05-01,2014-05-07,14_05_01_01,"[2014-05-01, 2014-05-02, 2014-05-03, 2014-05-0...","[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...",...,40.158,69.110,1522.9,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17_07_03_63,3,63,2017,7,7,2017-07-01,2017-07-07,17_07_03_63,"[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-06-01, 2017-06-02, 2017-06-03, 2017-06-0...",...,41.334,63.716,1428.3,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464
17_09_03_63,3,63,2017,9,7,2017-09-01,2017-09-07,17_09_03_63,"[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-08-01, 2017-08-02, 2017-08-03, 2017-08-0...",...,41.334,63.716,1428.3,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464
17_10_03_63,3,63,2017,10,7,2017-10-01,2017-10-07,17_10_03_63,"[2017-10-01, 2017-10-02, 2017-10-03, 2017-10-0...","[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...",...,41.334,63.716,1428.3,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464
18_01_03_63,3,63,2018,1,7,2018-01-01,2018-01-07,18_01_03_63,"[2018-01-01, 2018-01-02, 2018-01-03, 2018-01-0...","[2017-12-01, 2017-12-02, 2017-12-03, 2017-12-0...",...,41.334,63.716,1428.3,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464
18_03_03_63,3,63,2018,3,7,2018-03-01,2018-03-07,18_03_03_63,"[2018-03-01, 2018-03-02, 2018-03-03, 2018-03-0...","[2018-02-01, 2018-02-02, 2018-02-03, 2018-02-0...",...,41.334,63.716,1428.3,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464

### Add ocean effect predictor

Calculated using circuitscape where resistance is terrain slope and current is distance

In [14]:
# Read in ocean effect csv - created using arcgis
ocean_effects = pd.read_csv(os.path.join(main_folder, 'Data', 'bioscan_ocean_effects_sites.csv'), index_col='Site')

# change site column to same format and round ocean_effect column//rename
ocean_effects.index = ocean_effects.index.str[-2:]
ocean_effects['ocean_effect'] = ocean_effects['RASTERVALU'].round(3)

# merge with main dataset
bioscan_data = bioscan_data.merge(ocean_effects['ocean_effect'], left_on='Site', right_index=True, how='left')

# display
bioscan_data

,Phase,Site,Year,Month,Collection days,start_date,end_date,id,Date_range_col,Date_range_prev_month,...,RH_mean,RH_std,So_mean,imperv_025km,imperv_05km,imperv_1km,LV_025km,LV_05km,LV_1km,ocean_effect
id,,,,,,,,,,,,,,,,,,,,,
14_01_01_01,1,01,2014,1,7,2014-01-01,2014-01-07,14_01_01_01,"[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-12-01, 2013-12-02, 2013-12-03, 2013-12-0...",...,69.110,1522.9,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692,0.188
14_02_01_01,1,01,2014,2,9,2014-02-01,2014-02-09,14_02_01_01,"[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...",...,69.110,1522.9,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692,0.188
14_03_01_01,1,01,2014,3,7,2014-03-01,2014-03-07,14_03_01_01,"[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...","[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...",...,69.110,1522.9,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692,0.188
14_04_01_01,1,01,2014,4,7,2014-04-01,2014-04-07,14_04_01_01,"[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...","[2014-03-01, 2014-03-02, 2014-03-03, 2014-03-0...",...,69.110,1522.9,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692,0.188
14_05_01_01,1,01,2014,5,7,2014-05-01,2014-05-07,14_05_01_01,"[2014-05-01, 2014-05-02, 2014-05-03, 2014-05-0...","[2014-04-01, 2014-04-02, 2014-04-03, 2014-04-0...",...,69.110,1522.9,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692,0.188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17_07_03_63,3,63,2017,7,7,2017-07-01,2017-07-07,17_07_03_63,"[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-06-01, 2017-06-02, 2017-06-03, 2017-06-0...",...,63.716,1428.3,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464,0.200
17_09_03_63,3,63,2017,9,7,2017-09-01,2017-09-07,17_09_03_63,"[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-08-01, 2017-08-02, 2017-08-03, 2017-08-0...",...,63.716,1428.3,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464,0.200
17_10_03_63,3,63,2017,10,7,2017-10-01,2017-10-07,17_10_03_63,"[2017-10-01, 2017-10-02, 2017-10-03, 2017-10-0...","[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...",...,63.716,1428.3,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464,0.200
18_01_03_63,3,63,2018,1,7,2018-01-01,2018-01-07,18_01_03_63,"[2018-01-01, 2018-01-02, 2018-01-03, 2018-01-0...","[2017-12-01, 2017-12-02, 2017-12-03, 2017-12-0...",...,63.716,1428.3,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464,0.200
18_03_03_63,3,63,2018,3,7,2018-03-01,2018-03-07,18_03_03_63,"[2018-03-01, 2018-03-02, 2018-03-03, 2018-03-0...","[2018-02-01, 2018-02-02, 2018-02-03, 2018-02-0...",...,63.716,1428.3,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464,0.200

### Add elevation of each site

In [19]:
# Read in ocean effect csv - created using arcgis
elevation = pd.read_csv(os.path.join(main_folder, 'Data', 'bioscan_elevation_sites.csv'), index_col='Site')

# change site column to same format and round ocean_effect column//rename
elevation.index = elevation.index.str[-2:]
elevation['elevation'] = elevation['RASTERVALU'].round(3)

elevation

# # merge with main dataset
# bioscan_data = bioscan_data.merge(elevation['elevation'], left_on='Site', right_index=True, how='left')

# # display
# bioscan_data

      OID_  Latitude  Longitude  Site_1  RASTERVALU  elevation
Site
01       0  34.01707 -118.28868  Site01          60         60
03       1  34.03400 -118.28100  Site03          59         59
04       2  34.11800 -118.28400  Site04         221        221
05       3  34.09300 -118.27400  Site05         165        165
06       4  34.11600 -118.27900  Site06         196        196
...    ...       ...        ...     ...         ...        ...
59      57  33.93200 -118.25900  Site59          36         36
60      58  34.24700 -118.50800  Site60         285        285
61      59  34.24400 -118.57900  Site61         274        274
62      60  34.16300 -118.35600  Site62         180        180
63      61  33.95000 -118.18400  Site63          32         32

[62 rows x 6 columns]

### Add distance to natural area of each site

In [27]:
# Read in ocean effect csv - created using arcgis
distance_natural = pd.read_csv(os.path.join(main_folder, 'Data', 'distance_natural.csv'), index_col='Site')

distance_natural.index = distance_natural.index.str[-2:]

# merge with main dataset
bioscan_data = bioscan_data.merge(distance_natural['distance_natural'], left_on='Site', right_index=True, how='left')

# display
bioscan_data

,Phase,Site,Year,Month,Collection days,start_date,end_date,id,Date_range_col,Date_range_prev_month,...,So_mean,imperv_025km,imperv_05km,imperv_1km,LV_025km,LV_05km,LV_1km,ocean_effect,elevation,distance_natural
id,,,,,,,,,,,,,,,,,,,,,
14_01_01_01,1,01,2014,1,7,2014-01-01,2014-01-07,14_01_01_01,"[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-12-01, 2013-12-02, 2013-12-03, 2013-12-0...",...,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692,0.188,60,2705.565660
14_01_01_01,1,01,2014,1,7,2014-01-01,2014-01-07,14_01_01_01,"[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-12-01, 2013-12-02, 2013-12-03, 2013-12-0...",...,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692,0.188,60,2705.565660
14_01_01_01,1,01,2014,1,7,2014-01-01,2014-01-07,14_01_01_01,"[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...","[2013-12-01, 2013-12-02, 2013-12-03, 2013-12-0...",...,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692,0.188,60,2705.565660
14_02_01_01,1,01,2014,2,9,2014-02-01,2014-02-09,14_02_01_01,"[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...",...,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692,0.188,60,2705.565660
14_02_01_01,1,01,2014,2,9,2014-02-01,2014-02-09,14_02_01_01,"[2014-02-01, 2014-02-02, 2014-02-03, 2014-02-0...","[2014-01-01, 2014-01-02, 2014-01-03, 2014-01-0...",...,127.153,54.304,66.622,73.817,575872.516,1143931.388,806243.692,0.188,60,2705.565660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17_07_03_63,3,63,2017,7,7,2017-07-01,2017-07-07,17_07_03_63,"[2017-07-01, 2017-07-02, 2017-07-03, 2017-07-0...","[2017-06-01, 2017-06-02, 2017-06-03, 2017-06-0...",...,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464,0.200,32,284.986189
17_09_03_63,3,63,2017,9,7,2017-09-01,2017-09-07,17_09_03_63,"[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...","[2017-08-01, 2017-08-02, 2017-08-03, 2017-08-0...",...,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464,0.200,32,284.986189
17_10_03_63,3,63,2017,10,7,2017-10-01,2017-10-07,17_10_03_63,"[2017-10-01, 2017-10-02, 2017-10-03, 2017-10-0...","[2017-09-01, 2017-09-02, 2017-09-03, 2017-09-0...",...,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464,0.200,32,284.986189
18_01_03_63,3,63,2018,1,7,2018-01-01,2018-01-07,18_01_03_63,"[2018-01-01, 2018-01-02, 2018-01-03, 2018-01-0...","[2017-12-01, 2017-12-02, 2017-12-03, 2017-12-0...",...,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464,0.200,32,284.986189
18_03_03_63,3,63,2018,3,7,2018-03-01,2018-03-07,18_03_03_63,"[2018-03-01, 2018-03-02, 2018-03-03, 2018-03-0...","[2018-02-01, 2018-02-02, 2018-02-03, 2018-02-0...",...,156.979,73.508,74.097,75.617,260450.820,274805.642,272140.464,0.200,32,284.986189

### Export this as our master predictor/sampling df

In [28]:
bioscan_data.to_csv(os.path.join(main_folder, 'Data', 'MASTER_PREDICTOR_TABLE.csv'), index=True)

In [29]:
bioscan_data['Mean_Diurnal_Range_C'].max()

31.651